<p class="note"><strong>Note</strong>:
	This error does not occur if you are using BOSH CLI v2.</p>

If using the BOSH CLI v1, re-add the `director_uuid` to the manifest:

1. Run the following command and record the `director_uuid` value from the output:

	```
	bosh status --uuid
	```

1. Edit the manifest and add the `director_uuid: DIRECTOR-UUID` from the last
step at the top of the manifest.

For more information, see
[Deployment Identification](https://bosh.io/docs/manifest-v2.html#deployment)
in the BOSH documentation.
