<ol>
<li><a href="#instance-deployment">Identify the service deployment by GUID</a>.</li>
<li><a href="https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#prepare">Log in to BOSH</a>.</li>
<li><a href="#access-instance">Download the manifest for the service instance</a> and add the GUID if using the BOSH CLI v1. 
<p class="note">Skip this step if you are using the BOSH CLI v2. You cannot download the manifest with the BOSH CLI v2 of the CLI. Open it in a text editor instead.</p></li>
<li>Look in the manifest for the credentials.</li>
</ol>
