This errand registers the broker with Cloud Foundry and enables access to plans in the service catalog. The errand should be run whenever the broker is re-deployed with new catalog metadata to update the Cloud Foundry catalog.

Plans with disabled service access are not visible to non-admin Cloud Foundry users (including Org Managers and Space Managers). Admin Cloud Foundry users can see all plans including those with disabled service access.

The errand does the following:

* Registers the service broker with Cloud Controller
* Enables service access for any plans that have the radio button set to `enabled` in the tile plan page.
* Disables service access for any plans that have the radio button set to `disabled` in the tile plan page.
* Does nothing for any for any plans that have the radio button set to `manual`

#### <a id="cli-v2"></a>BOSH CLI v2

The following procedure is for v2 of the BOSH CLI.

Run this errand with the command `bosh run-errand register-broker` after you have selected the broker deployment with `bosh deployment`.

#### <a id="cli-v1"></a>BOSH CLI v1

The following procedure is for v1 of the BOSH CLI.

Run this errand with the command `bosh run errand register-broker` after you have selected the broker deployment with `bosh deployment`.
