<p>
  If developers report errors such as the following when trying to run <code>cf-update-service</code>:
</p>

<pre class="terminal">
FAILED
Server error, status code: 502, error code: 10001, message:
Service broker error: Service cannot be updated at this time,
please try again later or contact your operator for more information.
</pre>

<p>
  Their service instance might not be running the latest service offering.
</p>

<p>
To resolve this issue, do one of the following:
  <ul>
    <li>An operator runs <code>upgrade-all-service-instances</code>
    to ensure all existing service instances are upgraded to the latest service offering.</li>
    <li>An app developer runs <code>update-service --upgrade</code> to upgrade
      an individual service instance to the latest service offering.
      You can only do this if <code>maintenance_info</code> is configured with a compatible CF version.</li>
  </ul>

  If you do not upgrade service instances, app developers cannot set parameters or
  change plans.<br><br>

  For more information, see <a href="#upgrade-all">Upgrade All Service Instances</a>
  and <a href="./tile.html#maintenance">(Optional) Configure Maintenance Information</a>.
</p>
