---
title: Frequently asked questions
owner: London Services Enablement
---

## <a id="odb_instance_test"></a>How many dedicated service instances has Pivotal managed in a PCF environment?

The on-demand broker has been tested with 500 dedicated service instances using the [example Kafka on-demand tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/tree/15-rc1://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/tree/v0.15.1).

We recorded how long it took to create, upgrade all and delete all, with 50, 101 and 500 dedicated service instances.

### <a id="test_setup"></a>Set up

| Environment                  |                       |
|:-----------------------------|:----------------------|
| IaaS                         | Google Cloud Platform |
| PCF Operations Manager       | v1.9.7                |
| PCF Elastic Runtime          | v1.9.13               |
| Example Kafka On-Demand Tile | v0.15.1               |

| BOSH Director Configuration |         |
|:----------------------------|:--------|
| Workers                     | 3       |
| Dedicated status worker     | enabled |

| On-demand plan configuration |                                  |
|:-----------------------------|:---------------------------------|
| Zookeeper VM type            | small (1 CPU, 2GB RAM, 8GB Disk) |
| Kafka VM type                | small (1 CPU, 2GB RAM, 8GB Disk) |

### <a id="test_running"></a>Test

1. Upload the example Kafka on-demand tile
1. Configure the on-demand plan
1. Apply changes to install the on-demand service, ensuring that `Register on-demand broker` is checked
1. Create N dedicated service instances using the CF CLI
1. Make a change to the plan configuration
1. Apply pending changes, ensuring that `Upgrade all on-demand service instances` is checked
1. Delete the tile and apply changes, ensuring that `Delete all on-demand service instances` is checked

### <a id="test_results"></a>Results

Durations presented in HH:MM:SS format.

| Create         | 50       | 101      | 500      |
|:---------------|:---------|:---------|:---------|
| average create | 00:01:02 | 00:01:03 | 00:01:02 |
| total          | 00:51:28 | 01:45:40 | 08:33:37 |

| Upgrade All     | 50       | 101      | 500      |
|:----------------|:---------|:---------|:---------|
| average upgrade | 00:01:10 | 00:01:05 | 00:01:00 |
| total           | 00:58:37 | 01:49:42 | 08:21:08 |

| Delete All     | 50       | 101      | 500      |
|:---------------|:---------|:---------|:---------|
| average delete | 00:05:09 | 00:05:04 | 0:05:00  |
| total          | 04:17:38 | 08:31:10 | 41:38:26 |

These durations may vary for a number of reasons, for example:

- Number of BOSH director workers
- IaaS performance
- Network latency
- Service instance BOSH release(s)
- Service instance deployment configuration
- VM type of service instance
- Activity of Elastic Runtime
- Activity of BOSH Director

### <a id="test_notes"></a>Notes

For create operations, the on-demand broker creates a BOSH deployment for each service instance. By default, the BOSH Director in Operations Manager v1.9 has three workers with a dedicated status worker, so only two workers are available to process deployment tasks. Therefore, only two service instances can be created at the same time.

For upgrade all and delete all operations, Operations Manager runs a BOSH errand. This errand task occupies a BOSH Director worker, leaving one worker available to upgrade, or delete deployments.
