---
title: On-Demand Services SDK
owner: London Services Enablement
---

This guide is for people who want to author service tiles for Pivotal Cloud Foundry (PCF)
using the on-demand services SDK, part of the Pivotal Cloud Foundry Services SDK.

## <a id='overview'></a>Overview

PCF operators make software services such as databases available to developers
by using the <%= vars.ops_manager %> **Installation Dashboard** to install service tiles.

On-demand services let you provision instances in a flexible way.
The operator does not pre-allocate a block of VMs for the instance pool,
and they can specify an allowable range rather than fixed settings for instance resource levels.
When a developer creates an on-demand service instance, they then provision it at creation time.

The on-demand services SDK provides a generic, on-demand broker (ODB).
This simplifies broker and tile authoring,
and is the standard approach for both Pivotal internal services teams and Pivotal
partner independent software vendors (ISVs) to develop on-demand services for PCF.
For more information about service brokers and how the on-demand broker works within PCF, see
[About On-Demand Brokers](./about.html).

## <a id='product-snapshot'></a>Product Snapshot

The following table provides version and version-support information about the
on-demand services SDK.

<table class="nice">
	<th>Element</th>
	<th>Details</th>
	<tr>
		<td>Version</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>Release date</td>
		<td>MMMM DD, 2020</td>
	</tr>
	<tr>
		<td>Compatible <%= vars.ops_manager %> version(s)</td>
		<td>2.5 or later</td>
	</tr>
	<tr>
		<td>Compatible Pivotal Application Service (PAS) version(s)</td>
		<td>2.5 or later</td>
	</tr>
	<tr>
		<td>IaaS support</td>
		<td>AWS, Azure, GCP, OpenStack, and vSphere</td>
	</tr>
</table>


## <a id='new-features'></a>Key Features

The benefits of provisioning service instances with resources on-demand are:

* Operators can scale resource consumption in line with need, without having to plan for pre-provisioning.
* App developers get more control over resources and do not have to acquire them through the operator.

The benefits of using ODB to develop on-demand services are:

* ODB reduces the amount of code service developers have to write by abstracting away functionality common to most single-tenant on-demand service brokers.
* ODB uses BOSH to deploy service instances, so anything that is BOSH-deployable can integrate with Cloud Foundry's services Marketplace.

ODB uses the following BOSH features:

* Dynamic IP management
* Availability zones
* Globally-defined resources (**Cloud Config**).
This results in manifests that are portable across BOSH Cloud Provider Interfaces (CPIs) and are substantially smaller than old-style manifests.
* Links between deployed BOSH instances consuming information from other instances, for example, IP addresses.

## <a id='prerequisites'></a>Prerequisites for Deploying Brokers That Use ODB

For information about minimum versions of Cloud Foundry and BOSH, see
[Software Requirements](operating.html#software-reqs).
