---
title: On-Demand Service Broker SDK
owner: London Services Enablement
---

This guide is intended for people who want to author service tiles for PCF using the On-Demand Service Broker SDK.

## <a id='overview'></a>Overview

TEXT TK - Lifted from ISV Portal: As an Independent Software Vendor (ISV), you are likely to find more and more Pivotal Cloud Foundry (PCF) users among your customers. Many of these will be asking you to integrate your software with PCF to enable use of your software with the applications they are developing on PCF.

Pivotal is very supportive of these types of integrations and is committed to making this process as easy as possible. This site provides a technical overview on how to integrate your software with PCF. You are welcome to start this process on your own, or contact us to ask for our support and/or publish your integration in our marketplace.

There are a lot of things you will have to learn and do to complete an integration with Cloud Foundry. This page attempts to lay out a typical progression of an integration with PCF.

The [About the On-Demand Service Broker SDK](./about.html) topic describes how service brokers work and why on-demand services are best, and explains that the On-Demand Service Broker SDK is the simplest and best way to develop an on-demand service for PCF.

## <a id='product-snapshot'></a>Product Snapshot

<dl>
<dt>Current On-Demand Service Broker SDK details:</dt>
<dd><strong>Version</strong>: 0.8.0 </dd>
<dd><strong>Release date</strong>: TK</dd>
<dd><strong>Software component version</strong>: TK</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: vTK.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: vTK.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id='new-features'></a>Key Features

TK

## <a id='prerequisites'></a>Prerequisites for deploying brokers that use ODB

Minimum versions of Cloud Foundry and BOSH are described in [the operator section](operating.html#configure-bosh).

## <a id='known-issues'></a>Known Issues

TK

## <a id='see-also'></a>See Also

LINKS TK

<hr>

## <a id='contents'></a>Contents

* <a href="about.html" class="subnav">About the On-Demand Service Broker SDK</a>
* <a href="getting-started.html" class="subnav">Setting Up a Local Development Environment</a>
* <a href="creating.html" class="subnav">Creating the Service Author Deliverables</a>
* <a href="operating.html" class="subnav">Deploying an On-Demand Service Broker</a>
* <a href="tile.html" class="subnav">Creating a PCF Ops Manager Tile</a>
* <a href="concepts.html" class="subnav">How ODB Components Process Commands</a>
