---
title: Metrics for Monitoring an On-Demand Broker
owner: London Services Enablement
---

This topic describes the metrics that the on-demand broker generates.
For general information about logging and metrics in Pivotal Cloud Foundry (PCF),
see [Logging and Metrics](http://docs.pivotal.io/pivotalcf/loggregator/index.html).

## <a id="metrics"></a>About Metrics

**Enabling Metrics**: The on-demand broker only emits metrics when deployed with Service Metrics.
For more information, see the [Deploying a Release with Service Metrics](https://docs.pivotal.io/svc-sdk/service-metrics/operator.html) in the Service Metrics documentation.

**Metrics Format**: Metrics are regularly-generated log messages that report measured component states.
They are formatted as long, single lines of text, for example:

```
origin:"BROKER-DEPLOYMENT-NAME" eventType:ValueMetric timestamp:1560950924586744417 deployment:"BROKER-DEPLOYMENT-NAME" job:"broker" index:"0" ip:"BROKER-IP-ADDRESS" tags:<key:"source_id" value:"broker"> valueMetric:<name:"/on-demand-broker/BROKER-DEPLOYMENT-NAME/total_instances" value:10 unit:"count">
```

## <a id="odb-metrics"></a>On-Demand Broker Metrics

The following sections describe the metrics used for monitoring the on-demand broker.

### <a id="global-service-instance-count-metrics"></a>Global Service Instance Count

<table>
   <tr><th colspan="2" style="text-align: center;"><br> /on-demand-broker/SERVICE-NAME/total_instances<br><br></th></tr>
   <tr>
      <th width="25%">Description</th>
      <td>
        <strong>Use</strong>: This is the global total number of instances created by the broker.
        <br><br>
        <strong>Origin</strong>: Doppler/Firehose<br>
        <strong>Type</strong>: count<br>
      </td>
   </tr>
   <tr>
      <th>Alert thresholds</th>
      <td>
        This threshold applies if service instance quotas are configured. For instructions, see
        <a href="operating.html#service-instance-quotas">(Optional) Set Service Instance Quotas</a>.
        <br><br>
        <strong>Warning</strong>: &gt; quota * 0.8 <br>
        <strong>Critical</strong>: &gt; quota * 0.95
      </td>
   </tr>
   <tr>
      <th>Recommended response</th>
      <td>
        Delete any unused service instances, or increase the global service instance limit.
      </td>
   </tr>
</table>

### <a id="plan-service-instance-count-metrics"></a>Service Instance Count Per Plan

<table>
   <tr><th colspan="2" style="text-align: center;"><br>
     /on-demand-broker/SERVICE-NAME/PLAN-NAME/total_instances<br><br></th></tr>
   <tr>
      <th width="25%">Description</th>
      <td>
        <strong>Use</strong>: This is the total number of instances created by
        the broker for a given plan.
        <br><br>
        <strong>Origin</strong>: Doppler/Firehose<br>
        <strong>Type</strong>: count<br>
      </td>
   </tr>
   <tr>
      <th>Alert thresholds</th>
      <td>
        This threshold applies if service instance quotas are configured. For instructions, see
        <a href="operating.html#service-instance-quotas">(Optional) Set Service Instance Quotas</a>.
        <br><br>
        <strong>Warning</strong>: &gt; quota * 0.8 <br>
        <strong>Critical</strong>: &gt; quota * 0.95
      </td>
   </tr>
   <tr>
      <th>Recommended response</th>
      <td>
        Delete any unused service instances, select a different plan, or increase
        the service instance limit for the given plan.
      </td>
   </tr>
</table>

### <a id="global-resource-quota-metrics"></a>Global Resource Quota

<table>
   <tr><th colspan="2" style="text-align: center;">
     <br> /on-demand-broker/SERVICE-NAME/RESOURCE-TYPE/used<br>
     <br> /on-demand-broker/SERVICE-NAME/RESOURCE-TYPE/remaining<br><br>
   </th></tr>
   <tr>
      <th width="25%">Description</th>
      <td>
        <strong>Use</strong>: These two metrics combine to give a picture of global
        resource quota usage for instances created by the broker.
        <br><br>
        <strong>Origin</strong>: Doppler/Firehose<br>
        <strong>Type</strong>: count<br>
      </td>
   </tr>
   <tr>
      <th>Alert thresholds</th>
      <td>
        This threshold applies if service instance resource quotas are configured.
        For instructions, see
        <a href="operating.html#service-resource-quotas">(Optional) Set Resource Quotas</a>.
        <br><br>
        <strong>Warning</strong>: &gt; quota * 0.8 <br>
        <strong>Critical</strong>: &gt; quota * 0.95
      </td>
   </tr>
   <tr>
      <th>Recommended response</th>
      <td>
        Delete any unused service instances, or increase the global quota for this resource.
      </td>
   </tr>
</table>

### <a id="plan-service-instance-count-metrics"></a>Resource Quota Per Plan

<table>
   <tr>
     <th colspan="2" style="text-align: center;">
       <br> /on-demand-broker/SERVICE-NAME/PLAN-NAME/RESOURCE-TYPE/used<br>
       <br> /on-demand-broker/SERVICE-NAME/PLAN-NAME/RESOURCE-TYPE/remaining<br><br>
     </th>
  </tr>
   <tr>
      <th width="25%">Description</th>
      <td>
        <strong>Use</strong>: These two metrics combine to give a picture of
        resource quota usage for instances created by the broker for a given plan.
        <br><br>
        <strong>Origin</strong>: Doppler/Firehose<br>
        <strong>Type</strong>: count<br>
      </td>
   </tr>
   <tr>
      <th>Alert thresholds</th>
      <td>
        This threshold applies if service instance resource quotas are configured.
        For instructions, see
        <a href="operating.html#service-resource-quotas">(Optional) Set Resource Quotas</a>.
        <br><br>
        <strong>Warning</strong>: &gt; quota * 0.8 <br>
        <strong>Critical</strong>: &gt; quota * 0.95
      </td>
   </tr>
   <tr>
      <th>Recommended response</th>
      <td>
        Delete any unused service instances, select a different plan, or increase
        the quota for this resource for the given plan.
      </td>
   </tr>
</table>
