---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0-33-0"></a>v0.33.0

**Release Date: September 11, 2019**


### Features

New features and changes in this release:

* Adds support for `maintenanceInfo.description`. For more information, see
[Maintenance Info](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#maintenance-info-object)
in the OSBAPI specifications.
* Updates several dependencies


### Resolved Issue

This release has the following fix:

* Contacting the BOSH Director links API many times in parallel no longer causes some requests to fail during some operations, such as bind and unbind.


### Known Issues

There are no known issues for this release.


### Compatibility

This on-demand service broker release has the following dependency:

| Dependency  | Version  |
|---|---|
|  golang | 1.12.9  |


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
