---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0220"></a>v0.22.0

**Release Date: August 15, 2018**

### Breaking Changes

Breaking changes in this release:

- Input and output to the service adapter now use JSON over stdin / stdout
  instead of positional arguments on the command line. This allows handling
  of arbitrarily long manifests, which previously would have triggered a `command-line too long` error.

    <p class="note"><strong>Note</strong>: Users of the Go SDK are insulated from this change, because the SDK handles invocation arguments.</p>

    You can use an adapter built with an on-demand services SDK released before v0.22.0
    by setting the broker manifest property `use_stdin: false`.

- The `CreateBinding` method implemented by the service adapter has new
  arguments: `ManifestSecrets` and `DNSAddresses`. `ManifestSecrets` is reserved for
  future use; `DNSAddresses` contains a map of requested BOSH DNS addresses.
  For more information about the `DNSAddresses` argument, see [Enable ODB to Obtain
  BOSH DNS Addresses](service-adapter.html#dns-addresses).

- The `GenerateManifest` method implemented by the service adapter now returns
  a `GenerateManifestOutput` structure. The returned manifest must be set in
  the `Manifest` property of this structure.

### Features

New features and changes in this release:

- Updates golang to 1.10.3.

- The broker can be configured to pass the service instance's DNS information
  to the adapter's `CreateBinding` method.
  For how to do this, see the following:
  - **For operators**---[Obtain BOSH DNS Addresses for Binding Creation](./operating.html#binding-with-dns)
  - **For service authors**---[Enable ODB to Obtain BOSH DNS Addresses](./service-adapter.html#dns-addresses)

- Resource quotas can be managed at the plan level. For information about
  setting these quotas, see [Set Service Resource Quotas](./operating.html#service-resource-quotas).
  This feature is not available on Pivotal Container Service (PKS).

- Operators can now disable running lifecycle errands by setting the `disabled: true` property.

- Updates the cf CLI to 6.36.2.

- You can use Xenial stemcells with ODB. If using a Xenial stemcell in a tile,
  you must also update any BOSH add-ons.
For more information, see [Update Add-ons to Run with Xenial Stemcell](./upgrades.html#update-addons).

### Known Issues

There are no known issues for this release.

### Minimum Version Requirements

Minimum version requirements for this release:

- BOSH v257 (v261 for lifecycle errands, v266.12 or v267.6 or later for BOSH DNS info at bind) or BOSH lite v9000.131.0
- Cloud Foundry v238

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
