---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/upgrade-planner" %>


## <a id="0-34-1"></a>v0.34.1

**Release Date: November 6, 2019**

### Features

New features and changes in this release:

* Users can specify `initial_deploy_az_update_strategy` in the update section of the manifest.
For more information about `initial_deploy_az_update_strategy`, see the [BOSH
documentation](https://bosh.io/docs/manifest-v2/#update).

* Updates golang to v1.13.3.

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/odb/errand_template_fail" %>

### Compatibility

This on-demand service broker release has the following dependency:

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.13.3</td>
  </tr>

</table>


## <a id="0-34-0"></a>v0.34.0

**Release Date: October 15, 2019**

### Resolved Issues

This release has the following fix:

* The `upgrade-all-service-instances` errand no longer ignores BOSH
changes that are not configured in `maintenance_info`.
BOSH changes include changes to add-ons, the Director runtime config, and CredHub.<br><br>
Previously, the errand only used Cloud Foundry when upgrading. The errand now also uses BOSH. The BOSH upgrade
is shown as a BOSH upgrade loop in the diagram in [Upgrade All Service Instances with Maintenance Information Configured](./concepts.html#upgrade-all-instances-with-maintenance-info).

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/odb/errand_template_fail" %>

### Compatibility

This on-demand service broker release has the following dependency:

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.12.10</td>
  </tr>

</table>


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
