---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.29.1"></a>v0.29.1

**Release Date: May XX, 2019**

### Resolved Issues

This release fixes the following issues:

* A regression in the `register-broker` errand that prevented registration because of missing plans.
  This regression impacted deployments that use Pivotal Application Service (PAS).
  Enterprise Pivotal Container Service (Enterprise PKS) deployments were not affected by this issue.
* A `deregister-broker` errand issue that caused the errand to fail when the broker did not exist.
  This fix causes the errand to behave like other broker errands do in this situation.
* An issue in the `delete-all-service-instances` and `delete-all-service-instances-and-deregister-broker`
  errands that caused them to fail when encountering a service instance that is already being deleted. The errands now skip such instances and continue to issue delete commands for the remaining instances.
* A broker regression that caused the Broker API version information in request headers to not be validated.
* An issue that prevented platform users seeing errors caused by JSON Schema Validation during create,
  update, and bind errands.

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
