---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="0-25-0"></a>v0.25.0

**Release Date: December 5, 2018**

### Features

New features and changes in this release:

- Introduces the `recreate-all-service-instances` errand.
The errand enables operators to recreate all service instances managed by a broker.
This errand may be useful when doing the following:
<ul>
   <li> A seamless rotation of the Ops Manager root certificate authority (CA).</li>
   <li>A full restore of the platform, such as during disaster recovery or migration.</li>
</ul>
The `recreate-all-service-instances` errand does not trigger lifecycle errands.
For how to use this errand, see [Recreate All Service Instances](./management.html#recreate-all-service-instances).
- Adds a new configuration option for the `cf_service_access` broker property.
This allows you to configure the broker to enable service access for a single org only.
Previously, it was only possible to enable access either for all or no orgs.

### Breaking Changes

There are no breaking changes in this release.

### Known Issues

This release has the following issues:

* An issue with BOSH CredHub v1.9.11 and v2.1.5 causes an error after clicking **Apply Changes**.
  These versions of CredHub are included in Ops Manager v2.2.21, v2.3.15, v2.4.9, and v2.5.2.<br><br>
  To avoid this error, use CredHub v1.9.12 or later (included in Ops Manager v2.2.22
  or later and v2.3.16 or later) or CredHub v2.1.6 (included in Ops Manager v2.4.10
  or later and v2.5.3 or later).
  For more information about this error, see [Unable to Render Templates for Job CredHub](troubleshooting.html#credhub-error).
* Contacting the BOSH Director links API many times in parallel can cause some requests to fail during operations such as bind and unbind.


### Minimum Version Requirements

The following are minimum version requirements for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later

For Pivotal Cloud Foundry (PCF) version support, see [Product Snapshot](./index.html#product-snapshot).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
