---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.32.0"></a>v0.32.0

**Release Date: August 28, 2019**

### Features

New features and changes in this release:

* Modified the `upgrade-all-service-instance` errand to go through Pivotal Cloud Foundry (PCF) when that is the platform used and the `maintenance-info` property is configured.<br>
For older versions of the broker, the errand always goes through BOSH when the platform is PCF.
* SDK users can set `update_mode` in the BOSH `Variables` block.
This is the preferred method to regenerate credentials and should be used instead of `ConvergeVariables`.<br><br>
For information about `update_mode`, see [Variables Block](https://bosh.io/docs/manifest-v2/#variables) in the BOSH documentation.<br>
For more information about `ConvergeVariables`, see [Features Block](https://bosh.io/docs/manifest-v2/#features) in the BOSH documentation.

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
