---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---

# <a id="release-notes"></a>v0.10.1 Release Notes

This release fixes a bug with system certificates not being trusted by the ODB.

## <a id="minimum-version-requirements"></a>Minimum Version Requirements

- BOSH 257+ / BOSH lite v9000.131.0
- CF 238+

## <a id="new-features"></a>New Features

- None

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Bug fixes

- System certificates are now trusted by ODB

---

# <a id="release-notes"></a>v0.10.0 Release Notes

This release changes the logging format to add microsecond percision to ODB generated logs

## <a id="minimum-version-requirements"></a>Minimum Version Requirements

- BOSH 257+ / BOSH lite v9000.131.0
- CF 238+

## <a id="new-features"></a>New Features

- Microsecond percision logging for ODB generated log messages

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Bug fixes

- None
