---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.29.1"></a>v0.29.1

**Release Date: May XX, 2019**

### Resolved Issues

This release fixes the following issues:

* Fixed a regression in the `register-broker` errand that was preventing registration because of missing plans.
  This regression impacted deployments that use Pivotal Application Service (PAS).
  Enterprise Pivotal Container Service (Enterprise PKS) deployments were not affected by this issue.
* Changed the `deregister-broker` errand so that the errand succeeds even if the broker does not exist.
  This fix allows the errand to behave in a way that is consistent with other broker errands.
* Changed the `delete-all-service-instances` and `delete-all-service-instances-and-deregister-broker` errands.
  These errands no longer fail if service instance is already in the process of being deleted. The errand will
  skip the instance and continue to issue delete commands for the remaining instances.
* Fixed a regression in the broker where the Broker API version information in request headers was not being validated.

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
