---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---

# <a id="release-notes"></a>v0.16.1 Release Notes

## <a id="minimum-version-requirements"></a>Minimum Version Requirements

- BOSH 257+ (261+ for lifecycle errands) / BOSH lite v9000.131.0
- CF 238+


# <a id="known-issues"></a>Known Issues

<p class="note">
On PCF for GCP deployments, Ops Manager service network VMs are not assigned the correct firewall rules. As a result, these VMs cannot communicate with the BOSH Director and service tiles that use the On-Demand Service Broker (ODB) fail to create service instances. As a workaround, if you are deploying a service network in GCP, modify your firewall to use subnet CIDR-based rules.
</p>
<p class="note">
On Demand Broker log files in `/var/vcap/sys/log/broker/*` will be truncated when the broker process restarts via Monit. If you have syslog forwarding configured there should be no impact. Reccomendation is to upgrade to ODB 0.17.0 to resolve this issue.
</p>

## <a id="new-features"></a>New Features

### Service Instance Lifecycle Errands

- A new errand can be specified in manifests that will delete all service instances and deregister the broker, called `delete-all-service-instances-and-deregister-broker`
  - This will decrease uninstall times for tiles.
  - At the start of this new errand, service access is disabled so no more instances can be created.
  - Before this release, two separate errands had to be specified: `deregister-broker` and `delete-all-service-instances`.

### Other Enhancements

- Broker API supports custom response codes and error messages for create/update/bind/unbind/delete. syslog-migration
- Use Golang 1.8.3 in the ODB BOSH Release

## <a id="breaking-changes"></a>Breaking Changes

No breaking changes.

## <a id="bug-fixes"></a>Bug fixes

- Updating a service instance will now return an HTTP 422 error when there is a pending change on the service instance.
- The `upgrade-all-service-instances` errand now exits with a non-zero status code if upgrading any instances fails.
- When co-locating [syslog-migration-release](https://github.com/pivotal-cf/syslog-migration-release) or [syslog-release](https://github.com/cloudfoundry/syslog-release)
there would be duplicate log entries, as ODB was also writing it's logs to syslog. Now ODB only writes it's logs to `/var/vcap/sys/log`, and anything syslog related
is handled by syslog-release or syslog-migration-release. [0.16.1]
