---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0-33-1"></a>v0.33.1

**Release Date: October 10, 2019**

### Features

New features and changes in this release:

* Changes the BOSH Director API call `/deployments` to `/deployments?exclude_configs=true`.
This API call is faster.

* Updates golang to v1.12.10

### Security Fixes

This release has the following fix:

* Low [CVE-2019-16276](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-16276)

### Known Issues

This release has the following issues:

* If the broker is configured with `maintenance_info` and Cloud Foundry uses it,
the `upgrade-all-service-instances` errand upgrades each instance using only Cloud Foundry.<br><br>
Cloud Foundry does not upgrade instances with changes to BOSH because those changes are
not represented in `maintenance_info`.
Changes to BOSH include changes to add-ons, the Director runtime config, and CredHub.

<%= partial vars.path_to_partials + "/odb/errand_template_fail" %>

### Compatibility

This on-demand service broker release has the following dependency:

<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.12.10</td>
  </tr>
</table>

## <a id="0-33-0"></a>v0.33.0

**Release Date: September 11, 2019**


### Features

New features and changes in this release:

* Adds support for `maintenanceInfo.description`. For more information, see
[Maintenance Info](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#maintenance-info-object)
in the OSBAPI specifications.
* Updates several dependencies.


### Resolved Issue

This release has the following fix:

* Contacting the BOSH Director links API many times in parallel
no longer causes some requests to fail during some operations, such as bind and unbind.


### Known Issues

This release has the following issues:

* If the broker is configured with `maintenance_info` and Cloud Foundry uses it,
the `upgrade-all-service-instances` errand upgrades each instance using only Cloud Foundry.<br><br>
Cloud Foundry does not upgrade instances with changes to BOSH because those changes are
not represented in `maintenance_info`.
Changes to BOSH include changes to add-ons, the Director runtime config, and CredHub.

<%= partial vars.path_to_partials + "/odb/errand_template_fail" %>

### Compatibility

This on-demand service broker release has the following dependency:

| Dependency  | Version  |
|---|---|
|  golang | 1.12.9  |


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
