---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.26.1

**Release Date: March 4, 2019**

### Resolved Issues

This release fixes the following issues:

* Post-deploy errands in Ops Manager v2.2 and v2.3 are no longer affected by the problem with how the
`recreate-all-service-instances` errand checks the version of the BOSH Director.
The errand now satisfies Ops Manager v2.2 environments (BOSH v266.15.0 and later minor versions),
and Ops Manager v2.3 environments (BOSH v267.9.0 and later minor versions).

* The [on-demand services golang SDK](https://github.com/pivotal-cf/on-demand-services-sdk)
now includes the use of BOSH DNS addresses when deleting a binding.

### Known Issues

This release has the following issues:

-  Dynamic BOSH Configuration is not supported for BOSH team users in Ops Manager v2.1 and earlier.
You must disable the feature in these environments by setting the `disable_bosh_configs`
property to `true` in the broker job.

- An issue with BOSH CredHub v1.9.11 and v2.1.5 causes an error after clicking **Apply Changes**.
  These versions of CredHub are included in Ops Manager v2.2.21, v2.3.15, v2.4.9, and v2.5.2.<br><br>
  To avoid this error, use CredHub v1.9.12 or later (included in Ops Manager v2.2.22
  or later and v2.3.16 or later) or CredHub v2.1.6 (included in Ops Manager v2.4.10
  or later and v2.5.3 or later).
  For more information about this error, see [Unable to Render Templates for Job CredHub](troubleshooting.html#credhub-error).

- Contacting the BOSH Director links API many times in parallel can cause some requests to fail during operations such as bind and unbind.

### Minimum Version Requirements

The following are minimum version requirements for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later

For Pivotal Cloud Foundry (PCF) version support, see [Product Snapshot](./index.html#product-snapshot).

## <a id="release-notes"></a>v0.26.0

**Release Date: February 20, 2019**

<p class="note breaking"><strong>Breaking Change:</strong> Functions have been refactored
   to use data structures instead of positional parameters.
   This is to reduce future breaking changes to the SDK interfaces.
   <br><br>
   Service authors using the <a href="https://github.com/pivotal-cf/on-demand-services-sdk">
     on-demand services golang SDK</a> must modify the signatures of their implementations
   of the interface methods to accept the new structs instead of positional parameters.
   They must also replace all references to positional arguments with references to the new struct properties.
   For a list of the structs, see <a href="service-adapter.html#interfaces">Interfaces</a>.</p>

### Features

New features and changes in this release:

- Introduces Dynamic BOSH Configuration.
  Service adapters can return multiple BOSH configs, for example, `cloud-config` or `runtime-config`,
  when generating their manifests.
  These configs are applied before deployment and are only available for that particular deployment.
  For more information, see [Use Dynamic BOSH Configuration](./service-adapter.html#bosh-configs).

- The `register-broker` errand spec uses the broker link to configure Pivotal Cloud Foundry (PCF).
  The following properties can be removed from the errand job in your manifest
  because they are silently ignored: `cf.api_url`, `cf.admin_username`, `cf.admin_password`.

- The service catalog on the broker returns `maintenance_info`, which can be used
  to trigger a single-instance upgrade in the broker.
  Platforms can implement functionality needed to expose this feature.
  For more information about this feature, see [Maintenance Info](./operating.html#maintenance).

- The `recreate-all-service-instances` errand triggers service instance post-deploy errands.
  In this release, this feature is supported for the following Ops Manager versions:

  - 2.2.16 and later (BOSH Director v266.10.0 and later minor versions)
  - 2.3.10 and later (BOSH Director v267.10.0 and later minor versions)
  - 2.4.3 and later (BOSH Director v268.2.2 and later patches)
  - 2.5 and later (BOSH Director v268.4.0 and later)<br>

    For more information about this errand, see [Recreate All Service Instances](./management.html#recreate-all-service-instances).

- Golang is upgraded to v1.11.5.

- The feature that passes BOSH DNS addresses to the `CreateBinding` method, implemented by the service adapter, now passes BOSH DNS addresses to the `DeleteBinding` method as well. `DNSAddresses` contains a map of requested addresses.
For more information about the `DNSAddresses` argument, see [Enable ODB to Obtain BOSH DNS Addresses](./service-adapter.html#dns-addresses).

### Known Issues

This release has the following issues:

- Post-deploy errands might not run in Ops Manager v2.2 and v2.3.
This is due to a problem with how the `recreate-all-service-instances` errand checks
the version of the BOSH Director.
Ops Manager v2.1 and v2.4 and later are not affected.

- Dynamic BOSH Configuration is not supported for BOSH team users in Ops Manager v2.1 and earlier.
For these environments, you must disable the feature by setting the `disable_bosh_configs`
property to `true` in the broker job.

- Using BOSH DNS addresses in `delete-binding` is not included in the
[on-demand services golang SDK](https://github.com/pivotal-cf/on-demand-services-sdk).

- Contacting the BOSH Director links API many times in parallel can cause some requests to fail during operations such as bind and unbind.


### Minimum Version Requirements

The following are minimum version requirements for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later

For PCF version support, see [Product Snapshot](./index.html#product-snapshot).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
