---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="0-39-0"></a>v0.39.0

**Release Date: MMMM DD, 2020**

### Features

New features and changes in this release:

* **Adds support for backup agent bindings:** When `support_backup_agent_binding` is enabled,
  on-demand broker (ODB) clients can request the address of the backup agent.
  For more information, see [(Optional) Enable Backup Agent Bindings](./service-adapter.html#backup-agent).

### Known Issues

There are no known issues for this release.

### Compatibility

This release has the following dependency:

<%# The table below might need changing or deleting %>

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.13.6</td>
  </tr>

</table>

<%# The table above might need changing or deleting %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
