---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.22.0

**Release Date: August 15, 2018**

### Breaking Changes

- Input and output to the service adapter is now using JSON over stdin / stdout
  rather than using positional arguments on the command line. This allows handling
  of arbitrarily long manifests which previously would have triggered a 'command-line
  too long' error. **Note:** users of the Go SDK are insulated from this change
  since the SDK handles the invocation arguments.
  (It is possible to use an adapter built with a pre-0.22 on-demand-services-sdk
  by setting the broker manifest property `use_stdin: false`

- The _CreateBinding_ method implemented by the service adapter has new
  arguments ManifestSecrets and DNSAddresses. ManifestSecrets is reserved for
  future use; DNSAddresses contains a map of requested BOSH DNS addresses
  (see below for more information).

- The _GenerateManifest_ method implemented by the service adapter now returns
  a _GenerateManifestOutput_ structure. The returned manifest must be set in
  the _Manifest_ property of this structure.


### New Features

- Golang upgraded to 1.10.3

- The broker can be configured to pass DNS information of the service instance
  to the adapter's CreateBinding method. See [Obtain BOSH DNS Addresses for
  Binding Creation](./operating.html#binding-with-dns) and [Enable ODB to Obtain
  BOSH DNS Addresses](creating.html#dns-addresses) for full details.

- Fine level resource quota management at plan level. See [Set Service Resource
  Quotas](./operating.html#service-resource-quotas) for full details. Currently
  only available for Cloud Foundry.

- Enable operators to disable running lifecycle errands with the `disabled:
  true` property.

- Add `spaceGUID` to binding request to enable adapters to differentiate
  between requests issued by users in the service instance's original space,
  versus [a space to which it was
  shared](https://docs.cloudfoundry.org/devguide/services/sharing-instances.html).

- Bump CF CLI to 6.36.2

### Known Issues

- None

### Minimum Version Requirements

- BOSH 257+ (261+ for lifecycle errands, 266.3+ for BOSH DNS Info at Bind) / BOSH lite v9000.131.0
- CF 238+
