---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.28.x"></a>v0.28.0
**Release Date: April 26, 2019**

### Features

New features and changes in this release:

- Updates golang to v1.12.4

- SDK users can use placement rules for `include` and `exclude` directives in the BOSH manifest.

    For more information,
    see [Placement Rules for include and exclude Directives](https://bosh.io/docs/runtime-config/#placement-rules)
    in the BOSH documentation.

- Errands and the broker can be deployed over HTTPS.

### Known Issues

- An issue with BOSH CredHub v1.9.11, included in Ops Manager v2.2.21 and v2.3.15,
and CredHub v2.1.5, included in Ops Manager v2.4.9 and v2.5.2,  causes an error similar to the following
after clicking **Apply Changes**:

  ```shell
  Task 54 | 19:40:25 | Creating missing vms: credhub/03CCE517-F40D-42C8-B758-606FC042A8D4 (0) (00:00:53)
               L Error: - Unable to render templates for job 'credhub'. Errors are:
    - Failed to fetch variable '/opsmgr/cf-f0052ab642e7684aa41d/credhub_key_encryption_passwords/0/key' with id '703CCE517-F40D-42C8-B758-606FC042A8D4' from config server: Invalid JSON response
  ```

  To avoid this error, use CredHub v1.9.12 or later, included in Ops Manager [2.2.22](https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/opsmanager-rn.html#2-2-22)
  and later and [2.3.16](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/opsmanager-rn.html#2-3-16)) and later,
  or CredHub v2.1.6, included in Ops Manager v2.4.10 or later and v2.5.3 or later.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
