---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.24.0

**Release Date: October xx, 2018**


<p class="note breaking"><strong>Breaking Change:</strong> Service Instances
API configuration has moved from the `upgrade-all` errand to the broker job.
(see <strong>Features</strong> below).

### Features

- The `orphan-deployments` errand can now use the Service Instances API. This
change only impacts brokers that are installed without Cloud Foundry. The
configuration for this was previously on the `update-all-service-instances`
errand. This configuration has been moved to the broker job. The same
configuration is used for both the `orphan-deployments` and `upgrade-all`
errands.
- CredHub CLI library bumped to allow use with both v1 and v2 CredHub servers.
- Upgrades golang to v1.11.1 ??? check this story has been done.

### Known Issues

There are no known issues for this release.

### Minimum Version Requirements

The minimum version requirements of BOSH and Cloud Foundry for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later
