---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.26.0

**Release Date: February ??, 2019**

### Breaking changes

- On-Demand Services SDK users: In an effort to minimize future breaking changes to the SDK interfaces, we have refactored the existing functions to take data structures rather than positional parameters. That means that the signature of every function has changed, but hopefully they are more stable now.

### Features

New features and changes in this release:

- Service adapters can return multiple BOSH configs (for example, cloud-config or runtime-config) when generating their manifests. These configs will be applied before deploying and will only be available for that particular deployment. Configs are deleted when a deployment is deleted.
- The `register-broker` errand spec uses the broker link to configure CF. The following properties can be removed from the errand job in your manifest as they will be silently ignored: `cf.api_url`, `cf.admin_username`, `cf.admin_password`.
- The service catalog on the broker returns `maintenance_info`, which can be used to trigger a single-instance upgrade in the broker. Platforms can implement functionality needed to expose this feature.
- The `recreate-all-service-instances` errand triggers service instance post-deploy errands. Supported versions: Ops Manager 2.2.16+ (BOSH Director 266.10.0+), Ops Manager 2.3.10+ (BOSH Director 267.10.0+), Ops Manager 2.4.3+ (BOSH Director 268.2.2+), Ops Manager 2.5+ (BOSH Director 268.4.0+).
- Golang is upgraded to v1.11.5.

### Known Issues

- In PCF v2.2 and v2.3, the `recreate-all-service-instances` errand inaccurately
checks the BOSH director version.
This can cause post-deploy lifecycle errands not to run.
PCF v2.1 and v2.4 and later are not affected by this issue.

### Minimum Version Requirements

The following are minimum version requirements for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later

For Pivotal Cloud Foundry (PCF) version support, see [Product Snapshot](./index.html#product-snapshot).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
