---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0-34-0"></a>v0.34.0

**Release Date: MMMM DD, 2019**

### Resolved Issue

This release has the following fix:

* The `upgrade-all-service-instances` errand no longer ignores BOSH
changes that are not configured in `maintenance_info`.
BOSH changes include changes to add-ons, the Director runtime config or Credhub.
For more information,
see [Upgrade All Service Instances with Maintenance Information Configured](./concepts.html#upgrade-all-instances-with-maintenance-info).

<%# KNOWN ISSUE?: If the broker was configured with `maintenance_info`
and a compatible version of Cloud Foundry, the `upgrade-all-service-instances` errand
upgrades each instance using only Cloud Foundry and ignores changes to BOSH. %>

<%# WHEN WAS THIS ISSUE INTRODUCED? IS THIS AN ISSUE WITH UPDATE-SERVICE %>

### Known Issues

There are no known issues for this release.

### Compatibility

This on-demand service broker release has the following dependency:

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.12.10</td>
  </tr>

</table>


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
