---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.28.x"></a>v0.28.0
**Release Date: April 26, 2019**

### Features

New features and changes in this release:

- Updates golang to v1.12.4

- SDK users can use placement rules for `include` and `exclude` directives in the BOSH manifest.

    For more information,
    see [Placement Rules for include and exclude Directives](https://bosh.io/docs/runtime-config/#placement-rules)
    in the BOSH documentation.

- Errands and the broker can be deployed over HTTPS.

### Known Issues

This release has the following issue:

- An issue with BOSH CredHub v1.9.11 and v2.1.5 causes an error after clicking **Apply Changes**.
  These versions of CredHub are included in Ops Manager v2.2.21, v2.3.15, v2.4.9, and v2.5.2.<br><br>
  To avoid this error, use CredHub v1.9.12 or later (included in Ops Manager v2.2.22
  or later and v2.3.16 or later) or CredHub v2.1.6 (included in Ops Manager v2.4.10
  or later and v2.5.3 or later).
  For more information about this error, see [Unable to Render Templates for Job CredHub](troubleshooting.html#credhub-error).


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
