---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.24.0

**Release Date: October 12, 2018**


<p class="note breaking"><strong>Breaking Change:</strong> Service Instances
API configuration has moved from the <code>upgrade-all</code> errand to the broker job.
For more information, see <strong>Features</strong> below.</p>

<p class="note breaking"><strong>Breaking Change:</strong> <code>GenerateManifest</code>
method in the Service Adapter takes a new parameter <code>previousSecrets</code>
which contains secrets from the previously deployed service instance manifest.</p>

### Features

New features and changes in this release:

- The `orphan-deployments` errand can use the Service Instances API. This
change only impacts brokers that are installed without Cloud Foundry. The
configuration for this was previously on the `update-all-service-instances`
errand, and has been moved to the broker job. <br><br>The same
configuration is used for both the `orphan-deployments` and `upgrade-all`
errands.
- CredHub CLI library was bumped to allow use with both v1 and v2 CredHub servers.
This is required to use PCF-2.4 and above.
- Upgrades golang to v1.11.2
- New `previousSecrets` parameter to `GenerateManifest()` in the Service Adapter

### Known Issues

There are no known issues for this release.

### Minimum Version Requirements

The following are minimum version requirements for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later

For Pivotal Cloud Foundry (PCF) version support, see [Product Snapshot](./index.html#product-snapshot).
