---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.23.0

**Release Date: September XX 2018**

### Features

New features and changes in this release:

- Service authors can now use BOSH DNS names to generate certificates at deploy time.
  For instructions, see [BOSH DNS Addresses in Config Server Generated Certs](https://bosh.io/docs/dns/#dns-variables-integration).
	- The On-Demand Services SDK supports the new BOSH manifest properties for custom certificate generation.
	- ODB parses `custom_provider_definitions` inside `jobs`, and `consumes` inside `variables`.
- ODB fails to start if a plan has `binding_with_dns` enabled but the BOSH version
is less than v266.12.0 or less than v267.6.0.
- Upgrades golang to v1.11.0.

### Known Issues

There are no known issues for this release.

### Minimum Version Requirements

The minimum version requirements of BOSH and Cloud Foundry for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later
