---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.30.0"></a>v0.30.0

**Release Date: June 7, 2019**

### Features

New feature in this release:

* Previously, the broker binary started using BOSH Process Manager (bpm) for better job isolation and security. This release introduces bpm for all of the broker errands. For more information, see [bpm](https://bosh.io/docs/bpm/bpm/) in the BOSH documentation.

<p class="note breaking"><strong>Breaking Change:</strong> If broker management errands are <strong>not</strong> co-located with the broker, each errand job must now include the bpm release. See <a href="operating.html#broker-bpm">About ODB and BOSH Process Manager (bpm)</a> for more information.</p>

<p class="note breaking"><strong>Breaking Change:</strong> If the broker management errands <strong>are</strong> co-located and you are upgrading from ODB version v0.27.0 or later, no changes are required. However, if your errands are co-located and you are upgrading from an ODB version earlier than v0.27.0, bpm now needs to be included as a release. See <a href="operating.html#broker-bpm">About ODB and BOSH Process Manager (bpm)</a> for more information.</p>

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
