---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---

# <a id="release-notes"></a>v0.20.0 Release Notes

## <a id="minimum-version-requirements"></a>Minimum Version Requirements

- BOSH 257+ (261+ for lifecycle errands) / BOSH lite v9000.131.0
- CF 238+

# <a id="known-issues"></a>Known Issues

- None

## <a id="new-features"></a>New Features

- `upgrade-all-service-instances` errand supports parallel upgrades and
  the ability to select the number of canary instances that should be upgraded
  first. Upgrade `canaries`, when configured alongside a `max_in_flight`
  greater than 1, specify the number of service instances which must first be
  successfully upgraded, before the `upgrade-all-instances-errand` will
  attempt to upgrade the remaining instances.
- Added support for Credhub v1.7.
- Added support for the OSBAPI
  [context object](https://github.com/openservicebrokerapi/servicebroker/blob/master/profile.md#context-object).
  This allows service authors to obtain platform-specific information
  that is sent on provision, update, and bind requests.
- Provide a summary message for upgrade-all-service-instances errand.
- Expose BOSH error messages to application developers when `expose_bosh_errors`
  flag is enabled in manifest.
- Bump to Golang 1.10
- Addons support in the BOSH manifest
- Added `instance_groups.env` property that accepts an arbitrary hash,
  to support passing through undocumented properties
- Added support for optional `features` block, which enables BOSH features
  to be toggled in service instance deployments.

## <a id="breaking-changes"></a>Breaking Changes

- The `polling_interval` property has been renamed to `polling_interval_seconds`
  for the following errands: `upgrade-all-service-instances`,
  `delete-all-service-instances`,
  `delete-all-service-instances-and-deregister-broker`.

## <a id="bug-fixes"></a>Bug fixes

- None
