---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.32.0"></a>v0.32.0

**Release Date: MMMM DD, 2019**

### Features

New features and changes in this release:

* Modified `upgrade-all-service-instance` errand to go through Cloud Foundry when that is the platform and maintenance info is configured. 
* SDK users can set `UpdateMode` in the BOSH `Variables` block. For more information see [Variables Block](https://bosh.io/docs/manifest-v2/#variables) in the BOSH documentation. Note that this is the preferred method to re-generate credentials and should be used instead of `ConvergeVariables`. For more information see [Features Block](https://bosh.io/docs/manifest-v2/#features) in the BOSH documentation.

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
