---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="0-40-0"></a>v0.40.0

**Release Date: MMMM DD, 2020**

### Features

New features and changes in this release:

* `cf.authentication` is now deprecated. See `cf.uaa` in the broker spec for
the new format.
* Broker now accepts a new configuration property: `cf.uaa.client_definition`
(see
[here](https://github.com/pivotal-cf/on-demand-service-broker-release/blob/master/jobs/broker/spec#L148-L154)).
When configured, the broker will create a UAA client per Service Instance and
pass the new client to the service adapter when generating the manifest.

### Known Issues.

There are no known issues for this release.

### Compatibility

This release has the following dependency:

<%# The table below might need changing or deleting %>

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.13.6</td>
  </tr>

</table>

<%# The table above might need changing or deleting %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
