---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.29.1"></a>v0.29.1

**Release Date: May 29, 2019**

### Resolved Issues

This release has the following fixes:

* The `register-broker` errand no longer prevents registration because of missing plans.
  This regression impacted deployments that use Pivotal Application Service (PAS).
  Enterprise Pivotal Container Service (Enterprise PKS) deployments were not affected by this issue.
* The `deregister-broker` errand no longer fails when the broker does not exist.
  This fix causes the errand to behave like other broker errands do in this situation.
* The `delete-all-service-instances` and `delete-all-service-instances-and-deregister-broker`
  no longer fail when encountering a service instance that is already being deleted. The errands now skip such instances and continue to issue delete commands for the remaining instances.
* The Broker API version information in request headers is now validated more consistently. This is due to the
  removal of a broker regression.
* Errors caused by JSON Schema Validation during create, update, and bind errands are now surfaced to platform
  users.

### Known Issue

This release has the following issue:

* Contacting the BOSH Director links API many times in parallel can cause some requests to fail during operations such as bind and unbind.

## <a id="0.29.0"></a>v0.29.0

**Release Date: May 22, 2019**

<p class="note breaking"><strong>Breaking Change:</strong> If you set <code>cf_service_access</code> to <code>org-restricted</code> in the <code>
  register-broker</code> errand, you must set <code>service_access_org</code> in
  each plan in the broker service catalog.
For an example of a plan configured as <code>org-restricted</code>, see <a href="./management.html#register-broker">Register Broker</a>.</p>

<p class="note breaking"><strong>Breaking Change:</strong> You can no longer set service access for all plans with the <code>enable_service_access</code> property. This property has been removed. You must set service access for individual plans with <code>cf_service_access</code>. This property defaults to <code>enable</code>. For more information about configuring service access for plans, see <a href="./management.html#register-broker">Register Broker</a>.</p>

### Features

New features and changes in this release:

- The `register-broker` errand is now a golang binary, and has modular code and extra tests. This enables better functionality testing and removal of unnecessary dependencies. As a side effect, the on-demand broker no longer packages the CF CLI.
- `maintenance_info` includes a `version` property.
CF and PSK teams can implement the functionality needed to expose this feature. For more information, see [(Optional) Maintenance Info](operating.html#maintenance).
- You can pass a `force=true` query parameter to the deprovision endpoint to forcibly delete a service instance. This prevents platform users from needing to reach out to operators when service instances become unresponsive. Cloud Foundry users currently cannot use this feature.
- The broker uses golang v1.12.5.



### Known Issues

This release has the following issues:

<ul>
    <li>The register-broker errand fails with the following error:

    <code>[register-broker] 2019/05/22 11:57:55.699337 failed to execute register-broker: planID "my-plan" not found while updating plan access</code><br><br>

    This impacts deployments that use Pivotal Application Service (PAS) because it means that they cannot register a new broker or update an existing broker.

    <p class="note"><strong>Note:</strong> Enterprise PKS deployments are not affected by this issue.</p>
   </li>
   <li>
     The <code>deregister-broker</code> errand fails when the broker does not exist.
   </li>
   <li>
     The <code>delete-all-service-instances</code> and <code>delete-all-service-instances-and-deregister-broker</code> errands fail when encountering a service instance that is already being deleted.
   </li>
    <li>
     Errors caused by JSON Schema Validation during create, update, and bind errands are not surfaced to the platform user.
    </li>
    <li>
      Contacting the BOSH Director links API many times in parallel can cause some requests to fail during operations such as bind and unbind.
    </li>
</ul>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
