---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.31.1"></a>v0.31.1

**Release Date: July 19, 2019**

### Resolved Issues

This release has the following fix:

* Including `null` plans in your service catalog definition no longer causes the broker to fail to deploy.
`null` plans are now ignored.

### Known Issues

There are no known issues in this release.

## <a id="0.31.0"></a>v0.31.0

**Release Date: July 12, 2019**

### Features

New features and changes in this release:

**Indicator Protocol**

* The broker now publishes the number of service instances created for each service
and each plan to the Pivotal Cloud Foundry Healthwatch service.
For more information about Healthwatch, see
[Pivotal Cloud Foundry Healthwatch](https://docs.pivotal.io/pcf-healthwatch/index.html).
<br><br>
To enable this feature, indicators have been added to the on demand broker release.
For more information about indicators, see the
[monitoring-indicator-protocol](https://github.com/pivotal/monitoring-indicator-protocol)
repository in GitHub.

**Resource Quotas**

* The format for setting resource quotas in the manifest has changed.
For instructions, see [Setting Resource Quotas](operating.html#service-resource-quotas).
This release still supports the previous format, however, Pivotal plans to remove
support for the previous format in a future release.
* The broker now emits metrics for global and plan resource quotas.
For more information about these metrics, see [Metrics for Monitoring an On-Demand Broker](monitor.html).

### Known Issues

This release has the following issue:

* If you include `null` plans in your service catalog definition, the broker fails to deploy.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
