---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.27.0
**Release Date: April 4, 2019**

<p class="note breaking"><strong>Breaking Change:</strong> The On Demand Services SDK has replaced
  <code>ServiceDeployment.Stemcell</code> with <code>ServiceDeployment.Stemcells</code>.
  This change is to support multiple stemcells for a service deployment.<br>
  For more information, see
  <a href="https://github.com/pivotal-cf/on-demand-services-sdk/commit/f88592e968ebb3a327d5689ed6772268a2c0fcfc">[BREAKING CHANGE]
  SDK now supports multi-stemcell deployment</a> in GitHub.</p>

  <p class="note breaking"><strong>Breaking Change:</strong> To support bpm for the broker, you must include
  the bpm release in the broker job.<br><br>
  Also, because bpm restricts access to the current job, you must also make the broker signify to bpm that it
  needs access to the service adapter configuration.<br><br>
  To do so, specify the `mount_paths` to the service adapter within the `broker` job `service_adapter` configuration.
  For an example of this configuration, see [Starter Snippet for Your Broker](./operating.html#broker-starter-snippet).
  </p>

### Features

New feature in this release:

- The on-demand broker (ODB) now supports service instance deployments that use different stemcells for different instance groups.
- The broker binary now uses BOSH Process Manager (bpm) for better job isolation and security. For more information about bpm, see [bpm](https://bosh.io/docs/bpm/bpm/) in the BOSH documentation.

### Known Issues

This release has the following issue:

* An issue with BOSH CredHub v1.9.11 and v2.1.5 causes an error after clicking **Apply Changes**.
  These versions of CredHub are included in Ops Manager v2.2.21, v2.3.15, v2.4.9, and v2.5.2.<br><br>
  To avoid this error, use CredHub v1.9.12 or later (included in Ops Manager v2.2.22
  or later and v2.3.16 or later) or CredHub v2.1.6 (included in Ops Manager v2.4.10
  or later and v2.5.3 or later).
  For more information about this error, see [Unable to Render Templates for Job CredHub](troubleshooting.html#credhub-error).

### Minimum Version Requirements

The following are minimum version requirements for this release:

- BOSH v266.12.0 or v267.6.0 and later
- Cloud Foundry v238 and later

For Pivotal Cloud Foundry (PCF) version support, see [Product Snapshot](./index.html#product-snapshot).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
