---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0-38-0"></a>v0.38.0

**Release Date: MMMM DD, 2020**

### Features

New features and changes in this release:

  * Bumped github.com/cloudfoundry/bosh-cli
  * Bumped gopkg.in/yaml.v2 from 2.2.7 to 2.2.8
  * Bumped github.com/pkg/errors from 0.8.1 to 0.9.1

### Resolved Issues

This release has the following fixes:

* Binding operation accepts empty credentials from the adapter when secure binding is enabled. If the adapter returns empty credentials, ODB will not attempt to store those in CredHub. The platform is still responsible to decide if this is a valid binding. 
* For operations that require the broker to validate that there are no BOSH tasks in progress, the broker now requests only current tasks (processing, queued and cancelling) from BOSH  rather than all the tasks. Requesting all tasks and retrieving the correct state for each of them was causing one request for each task to BOSH, leading to long-running broker HTTP requests when the number of tasks for that deployment is large. 


### Known Issues

There are no known issues for this release.

### Compatibility

This on-demand service broker release has the following dependency:

<%# The table below might need changing or deleting %>

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.13.6</td>
  </tr>

</table>

<%# The table above might need changing or deleting %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
