---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/upgrade-planner" %>


## <a id="0-37-0"></a>v0.37.0

**Release Date: January 30, 2020**

### Features

New features and changes in this release:

* Updated Go to v1.13.6
* Operators can now enable their brokers to collect Telemetry. See [Enable Telemetry](./operating.html#broker-telemetry) for details.

### Known Issues

There are no known issues for this release.

### Compatibility

This on-demand service broker release has the following dependency:

<%# The table below might need changing or deleting %>

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.13.6</td>
  </tr>

</table>

<%# The table above might need changing or deleting %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
