---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0-34-0"></a>v0.34.0

**Release Date: MMMM DD, 2019**

### Features

New features and changes in this release:

* There are no new features for this release.

### Resolved Issue

* Previously if the broker was configured with `maintenance_info` and the broker
was using a compatible version of CF, the broker's `upgrade-all-service-instances`
errand would perform each instance's upgrade via CF exclusively. This behavior introduced
the possibility of skipping BOSH environmental changes such as add-ons, config or
Credhub changes that would not be captured in `maintenance_info`. This new release
now performs an upgrade for all instances via CF then via BOSH.

### Known Issues

There are no known issues for this release.

### Compatibility

This on-demand service broker release has the following dependency:

| Dependency  | Version  |
|---|---|
|  Golang | 1.12.10 |


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
