---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="release-notes"></a>v0.23.0

**Release Date: Sept 2018**

### Breaking Changes

### New Features

- Service authors can now use BOSH DNS names to generate certificates at deploy time.
	- SDK now supports the new bosh manifest properties pertaining to custom certificate generation.
	- ODB now parses `custom_provider_definitions` inside `jobs` and `consumes` inside `variables`.
	- For detailed instructions, see [BOSH DNS Addresses in Generated Certs](https://bosh.io/docs/dns/#dns-variables-integration).
- ODB will fail to start if a plan has `binding_with_dns` enabled but the BOSH version is less than v266.12.0 or less than v267.6.0.
- Golang upgraded to 1.11.0

### Known Issues

- None

### Minimum Version Requirements

- BOSH v266.12.0+ or v267.6.0+ 
- CF 238+
