---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---

# <a id="release-notes"></a>v0.19.0 Release Notes

## <a id="minimum-version-requirements"></a>Minimum Version Requirements

- BOSH 257+ (261+ for lifecycle errands) / BOSH lite v9000.131.0
- CF 238+

# <a id="known-issues"></a>Known Issues

<p class="warning note">BOSH SSL validation is now mandatory. The
<code>ignore_ssl_validation</code> flag now only applies to communication with
Cloud Foundry. Therefore, it is essential to include BOSH's CA certificate in
the <code>bosh.root_ca_cert</code> property of the broker job in the manifest
if BOSH is using its own certificate authority.</p>

## <a id="new-features"></a>New Features

- Added support for using colocated errands for `pre_delete`
service instance [lifecycle errands](./operating.html#lifecycle-errands). This
requires PCF 1.12 (BOSH v263).  See the [BOSH
docs](https://bosh.io/docs/errands.html) for more details.
- Details on how to configure syslog release to get errand logs forwarded
are available [here](./operating.html#lifecycle-errands).
- Example service adapter invocations have been added to the
[service author guide](./creating.html)
- Service Instances API has been added as an advanced extension mechanism
for the `upgrade-all-service-instances` errand. Read the docs [here](./operating.html#service-instances-api).

## <a id="breaking-changes"></a>Breaking Changes

- If you are using `post_deploy` or `pre_delete` service instance lifecycle
errands, you need to update your manifest:

```
    plans:
      - name: <CF marketplace plan name>
        lifecycle_errands:
          post_deploy:
            name: <post_deploy_errand_job>
            instances: [<service_release_job>/0]
          pre_delete:
            name: <pre_delete_errand_job>
            instances: [<service_release_job>/0]
```

## <a id="bug-fixes"></a>Bug fixes

- None
