---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="0-40-0"></a> v0.40.0

**Release Date: July 13, 2020**

### Features

New features and changes in this release:

* `cf.authentication` is now deprecated. For more information about the new format, see `cf.uaa` in
the broker [spec](https://github.com/pivotal-cf/on-demand-service-broker-release/blob/master/jobs/broker/spec) in GitHub.
* Broker now accepts a new configuration property: `cf.uaa.client_definition`.
For more information, see the broker
[spec](https://github.com/pivotal-cf/on-demand-service-broker-release/blob/master/jobs/broker/spec#L148-L154) in GitHub.
When configured, the broker creates a UAA client per service instance and passes the new client to
the service adapter when generating the manifest.
For more information, see [Create a Client on CF UAA](./operating.html#creating-uaa-client).

### Known Issues.

There are no known issues for this release.

### Compatibility

This release has the following dependency:

<%# The table below might need changing or deleting %>

<table>

  <tr>
    <th>Dependency</th>
    <th>Version</th>
  </tr>

  <tr>
    <td>golang</td>
    <td>1.13.6</td>
  </tr>

</table>

<%# The table above might need changing or deleting %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
