---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---

# <a id="release-notes"></a>v0.20.0 Release Notes

## <a id="minimum-version-requirements"></a>Minimum Version Requirements

- BOSH 257+ (261+ for lifecycle errands) / BOSH lite v9000.131.0
- CF 238+

# <a id="known-issues"></a>Known Issues

- None

## <a id="new-features"></a>New Features

- `upgrade-all-service-instances` errand supports parallel upgrades and
  the ability to select the number of canary instances that should be upgraded
  first. 
  Upgrade `canaries`, when configured alongside a `max_in_flight`
  greater than 1, specifies the number of service instances that must upgrade 
  successfully before the `upgrade-all-instances-errand` attempts to upgrade 
  the remaining instances. For more information, see
  [Upgrade All Service Instances](https://docs.pivotal.io/svc-sdk/odb/operating.html#upgrade-all-instances).
- Adds support for CredHub v1.7.
- Adds support for the Open Service Broker API (OSBAPI) v2.13
  [context object](https://github.com/openservicebrokerapi/servicebroker/blob/master/profile.md#context-object).
  This allows service authors to obtain platform-specific information
  that is sent on provision, update, and bind requests.
- Provides a summary message for `upgrade-all-service-instances` errand.
- Exposes BOSH error messages to application developers when `expose_bosh_errors`
  flag is enabled in manifest.
- Updates Golang to  v1.10.
- Exposes the BOSH manifest property `addons` to service authors through
  the SDK field `bosh.BoshManifest.Addons`. This can be used to apply add-ons to
  on-demand service instances. For more information about `addons`, see the 
  [BOSH Documentation](https://bosh.io/docs/manifest-v2.html#addons).
- Adds `instance_groups.env` to `service_catalog.plans`. This property accepts
  an arbitrary hash, to support passing through undocumented properties.
- Adds support for optional `features` block, which enables BOSH features
  to be toggled in service instance deployments.
  For more information, see [BOSH Features](https://docs.pivotal.io/svc-sdk/odb/creating.html#bosh_features).
- Amends endpoints for deleting service instances and fetching catalog to be
  compliant with [OSBAPI v2.13 specification](https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/spec.md).

## <a id="breaking-changes"></a>Breaking Changes

- The `polling_interval` property has been renamed to `polling_interval_seconds`
  for the following errands: `upgrade-all-service-instances`,
  `delete-all-service-instances`,
  `delete-all-service-instances-and-deregister-broker`.

## <a id="bug-fixes"></a>Bug fixes

- None
