---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---

# <a id="release-notes"></a>v0.13.0 Release Notes

## <a id="minimum-version-requirements"></a>Minimum Version Requirements

- BOSH 257+ / BOSH lite v9000.131.0
- CF 238+

## <a id="known-issues"></a>Known Issues

<p class="note">
In PCF 1.10 when using ODB Metrics, there is a race condition between the ODB and Consul starting. This leads to some deployments failing. Solution is to `bosh restart` the ODB.
</p>
<p class="note">
ODB errands can only delete/upgrade the first 50 instances created. Advice is to use plan quotas and set the total across all plans to be less than 50 service instances. 
</p>
<p class="note">
The `delete-all-service-instances` errand has a default timeout of 60 minutes which causes issues when uninstalling tiles with a large number of instances. This feature will be removed in 0.15.1. Please set this value to `10000` to avoid uninstall issues.
</p>
<p class="note">
On PCF for GCP deployments, Ops Manager service network VMs are not assigned the correct firewall rules. As a result, these VMs cannot communicate with the BOSH Director and service tiles that use the On-Demand Service Broker (ODB) fail to create service instances. As a workaround, if you are deploying a service network in GCP, modify your firewall to use subnet CIDR-based rules.
</p>
<p class="note">
`pre-start` changes ownership of co-located jobs packages, which can cause issues for other BOSH releases.
</p>
<p class="note">
Supplying a `null` for `vm_extensions` array in a plan instance group will cause the ODB to fail to start.
</p>
<p class="note">
ODB will accept requests to modify instances that have ongoing BOSH operations, resulting in an asynchronous failure.
</p>
<p class="note">
ODB does not report metrics for quotas when there are `0` service instances.
</p>
<p class="note">
ODB reports a request has failed if the BOSH task is in `cancelling` state. This result in pre-mature reporting the operation has failed.
</p>

## <a id="new-features"></a>New Features

- Added an errand that can detect orphan BOSH deployments. Orphan meaning there is no corresponding Cloud Controller record for the service.
 - Remember to use configure the ODB and errands with a BOSH team user, otherwise the errand may report the wrong results.

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Bug fixes

- Fail create service if the corresponding BOSH task is canceled.
- Assign least required permissions to jobs and packages.

