---
title: On-Demand Services SDK Release Notes
owner: London Services Enablement
---
<strong><%= modified_date %></strong>

## <a id="0.31.0"></a>v0.31.0

**Release Date: MMM DD, 2019**

### Features

New features in this release:

**Indicator Protocol**

* The broker will now publish the number of service instances created per service and per plan to the PCF Healthwatch service. For that, we added [indicators](https://github.com/pivotal/monitoring-indicator-protocol) to the [on demand broker release](https://github.com/pivotal-cf/on-demand-service-broker-release/blob/master/jobs/broker/templates/indicators.yml.erb). For more information about Healthwatch, see [Pivotal Cloud Foundry Healthwatch](https://docs.pivotal.io/pcf-healthwatch/index.html).

**Resource quotas**

* Resource quotas have a new format. See [Setting Resource Quotas](operating.html#service-resource-quotas) for instructions. The previous format is still supported and will be removed in a future release.
* Global and Plan resource quotas metrics are now emitted by the broker. For details on these metrics, see [Monitoring Your On-Demand Broker](monitor.html)

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
