---
title: Creating an On-Demand Service Tile
owner: London Services Enablement
---

This topic describes how to build an on-demand service tile using the Tile Generator.
For an example tile, see the [example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/tree/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f)
in GitHub.

## <a id="requirements"></a>Requirements

To build an on-demand tile you need the following releases:

- On Demand Service Broker (ODB)---Download ODB from [Pivotal 
Network](https://network.pivotal.io/products/on-demand-services-sdk/).
- Your service adapter---Get the service adapter from the release author.
- Your service release--Get the service release from the release author.

## <a id="requirements"></a> About Networks

When using the ODB in a tile with Ops Manager v2.0 and earlier, you need at least 
two private networks:

- A network where Ops Manager deploys the on-demand broker VM
- A different network where the on-demand broker deploys service instance VMs

The network for service instances should be flagged as a Service Network in Ops Manager.
 <p class="note"><strong>Note: </strong>For Ops Manager 2.1 and later, you do not need separate networks for the on-demand broker 
and service instances. 
However, Pivotal recommends that you have at least two networks as described above.

## <a id="building"></a>Build a Tile for an On-Demand Service

There are several methods you can use to build a tile.
This topic describes how to build a tile using the Tile Generator.

To use the Tile Generator to build a tile for an on-demand service, do the following:

1. Generate a `tile.yml` file by doing steps one to four of [How to 
Use](http://docs.pivotal.io/tiledev/tile-generator.html#how-to).

1. Add accessors, on-demand broker lifecycle errands, and optional features to the
`tile.yml` file generated in step one.
This provides configuration for the ODB and additional configuration options for operators 
to select in Ops Manager.
<br><br>
For more information about what to add to the `tile.yml`, see the following sections below:
  - [Add Accessors](#accessors)
  - [Add On-Demand Broker Lifecycle Errands](#errands)
  - [(Optional) Allow Public IP Addresses for On-Demand Service Instance Groups](#public-ip)
  - [(Optional) Enable Floating Stemcells](#floating-stemcell)
  - [(Optional) Allow Secure Binding](#secure-creds)

1. Build your tile by running the following command:

    ```
    tile build
    ```

### <a id="accessors"></a>Add Accessors

The ODB requires tiles to be configured with certain information. 
You must add accessors to the `tile.yml` file to provide values that operators 
cannot configure in Ops Manager.

Add the following accessors to your `tile.yml` file:

<p class="note"><strong>Note</strong>: The accessors in this section are mandatory.
  For other accessors, see 
  <a href="https://docs.pivotal.io/tiledev/product-template-reference.html#ops-man-snippets">
    Ops Manager Provided Snippets</a>.</p>

#### director

Ops Manager uses these accessors to get values relating to the BOSH Director installation.
For the on-demand broker to interact with BOSH Director, on-demand service tiles 
must be configured with credentials for managing BOSH deployments.  

The following table lists the accessors you must add:

| Accessor                  | Description                                                                                                                    |
|:--------------------------|:-------------------------------------------------------------------------------------------------------------------------------|
| $director.hostname        | The director's hostname or IP address                                                                                                      |
| $director.ca\_public\_key | The director's root ca certificate. Related: [Configure SSL Certificates](operating.html#ssl-certs). |

For example

```yaml
bosh:
  url: https://(( $director.hostname )):25555
  root_ca_cert: (( $director.ca_public_key ))
```

To see this example in context, see the 
[example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/blob/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f/metadata_parts/handcraft.yml#L104-L106).

#### self

Ops Manager uses these accessors to get values that have been assigned to the tile after installation.
To enable `$self` accessors, set `service_broker: true` at the top level of your
`tile.yml` file.

<p class="note"><strong>Note</strong>: Setting <code>service_broker: true</code>
  will cause the BOSH Director to redeploy when installing or uninstalling the tile.</p>

The following table lists the accessors you must add:

| Accessor                  | Description                                                     |
|:--------------------------|:----------------------------------------------------------------|
| $self.uaa\_client_name    | UAA client name, that can authenticate with the BOSH Director   |
| $self.uaa\_client\_secret | UAA client secret, that can authenticate with the BOSH Director |
| $self.stemcell\_version   | The stemcell that the service deployment uses                   |
| $self.service\_network    | Service network configured for the on-demand instances          |

The service network has to be created manually. 
Create a subnet on AWS and then add it to the director. 
In the BOSH Director tile, under Create Networks > ADD network > fill in the subnet/vpc details.

For example

```yaml
bosh:
  authentication:
    uaa:
      url: https://(( $director.hostname )):8443
      client_id: (( $self.uaa_client_name ))
      client_secret: (( $self.uaa_client_secret ))
```

To see this example in context, see the 
[example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/blob/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f/metadata_parts/handcraft.yml#L107-L111).

#### (Optional) cf

Ops Manager uses these accessors to get values from the PAS (or Elastic Runtime) tile.
If you want to use Pivotal Application Service (PAS) or Elastic Runtime, add 
these accessors to your `tile.yml` file.

The following table lists the accessors you must add to use PAS (or Elastic Runtime):

| Accessor                                        | Description                                                                        |
|:------------------------------------------------|:-----------------------------------------------------------------------------------|
| ..cf.ha\_proxy.skip\_cert\_verify.value         | Flag to skip SSL certificate verification for connections to the CF API            |
| ..cf.cloud\_controller.apps\_domain.value       | The application domain configured in the CF installation                           |
| ..cf.cloud\_controller.system\_domain.value     | The system domain configured in the CF installation                                |
| ..cf.uaa.system\_services\_credentials.identity | Username of a CF user in the cloud\_controller.admin group, to be used by services |
| ..cf.uaa.system\_services\_credentials.password | Password of a CF user in the cloud\_controller.admin group, to be used by services |

For example

```yaml
disable_ssl_cert_verification: (( ..cf.ha_proxy.skip_cert_verify.value ))
cf:
  url: https://api.(( ..cf.cloud_controller.system_domain.value ))
  authentication:
    url: https://uaa.(( ..cf.cloud_controller.system_domain.value ))
    user_credentials:
      username: (( ..cf.uaa.system_services_credentials.identity ))
      password: (( ..cf.uaa.system_services_credentials.password ))
```

To see this example in context, see the
[example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/blob/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f/metadata_parts/handcraft.yml#L103-L119).

### <a id="errands"></a>Add On-Demand Broker Lifecycle Errands

In the reference [example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/tree/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f)
we have demonstrated how the errands in the on-demand broker release can be used.

Pivotal recommends you add the errands below to your tile.
The errands should be specified in the following order:

Post-deploy:

- `register-broker`
- `upgrade-all-service-instances`

Pre-delete:

- `delete-all-service-instances-and-deregister-broker`

For more information about these errands, see [Broker and Service Management](./management.html).

#### Upgrade All Service Instances Errand

The `upgrade-all-service-instances` errand can be configured with two
parameters:

- The number of simultaneous upgrades

- The number of canary instances

For more information about these parameters, see
[Upgrade All Service Instances](upgrades.html#upgrade-all-instances).

The example [example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/tree/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f)
shows how to create a tab with fields to configure the parameters for this errand.
The example tile has constraints to ensure the number of simultaneous
upgrades is greater than one and the number of canaries is greater than zero.

### <a id="public-ip"></a>(Optional) Allow Public IP Addresses for On-Demand Service Instance Groups

Ops Manager provides a VM extension called `public_ip` in the BOSH Director’s 
cloud config.
Use this feature to give Ops Manager operators the option to assign a public IP 
address to instance groups.
This IP is only used for outgoing traffic to the internet from VMs with the 
`public_ip` extension.
All internal traffic / incoming connections need to go over the private IP.

To allow operators to a assign public IP addresses to on-demand service instance groups,
update your `tile.yml` file as follows:

1. Add the following to the `form_types` section:

      ```yaml
      form_types:
      - name: example_form
        property_inputs:
        - reference: .broker.example_vm_extensions
          label: VM options
          description: List of VM options for Service Instances
      ```

1.  Add the following to the `job_types` section:

      ```yaml
      job_types:
      - name: broker
        templates:
        - name: broker
          release: on-demand-service-broker
          manifest: |
            service_catalog:
              plans:
              - name: example-plan
                instance_groups:
                - name: example-instance-group
                  vm_extensions: (( .broker.example_vm_extensions.value )) # add this line
        property_blueprints:           # add this section
        - name: example_vm_extensions
          type: multi_select_options
          configurable: true
          optional: true
          options:
          - name: "public_ip"
            label: "Internet Connected VMs (on supported IaaS providers)"
      ```

### <a id="floating-stemcell"></a>(Optional) Enable Floating Stemcells

Ops Manager provides a feature called [Floating 
Stemcells](https://docs.pivotal.io/pivotalcf/customizing/understanding-stemcells.html) 
that allows PCF to quickly propagate a patched stemcell to all VMs in the deployment 
that have the same compatible stemcell. 
Both the broker deployment and the service instances deployed by the On-Demand 
Broker can make use of this feature. 
Enabling this feature can help ensure that all of your service instances are patched
to the latest stemcell.

For the service instances to be installed with the latest stemcell automatically,
ensure that the `upgrade-all-service-instances` errand is ticked.

To enable floating stemcells for your tile, update your `tile.yml` file as follows:

1. Implement floating stemcells.
<br><br>
For example:

    ```
    job_types:
      templates:
      - name: broker
        manifest: |
          service_deployment:
            releases:
            - name: release-name
              version: 1.0.0
              jobs: [job_server]
            stemcell:
              os: ubuntu-trusty
              version: (( $self.stemcell_version )) # Add this line
    ```

1. Configure the `stemcell_criteria`.
<br><br>
For example:

    ```
    ---
    name: example-on-demand-service
    product_version: 1.0.0
    stemcell_criteria:
      os: ubuntu-trusty
      version: '3312'
      enable_patch_security_updates: true  # Add this line
    ```



### <a id="secure-creds"></a>(Optional) Allow Secure Binding

You can give Ops Manager operators the option to enable secure binding.
If secure binding is enabled, service instance credentials are stored securely in 
runtime CredHub.
When users create bindings or service keys, ODB passes a secure reference to the 
service credentials through the network instead of plain text.

<p class="note"><strong>Note:</strong>
  To use the secure binding credentials feature you must use PCF 2.0 or later.</p>

To include the option to enable secure binding, update your `tile.yml` file as follows:

1. Add `secure_binding_credentials` to the top-level properties block in the on-demand broker manifest. 
For example:

    ```yaml
    secure_binding_credentials:
      enabled: true
      authentication:
        uaa:
          client_id: CREDHUB_CLIENT_ID # client ID used by broker when communicating with CredHub
          client_secret: CREDHUB_CLIENT_SECRET # client secret used by broker when communicating with CredHub
          ca_cert: UAA_CA_CERT
    ```

1. To let users enable and disable this feature in the Ops Manager UI, you need 
to make some changes to your tile's metadata file:

  1. Add a form field to allow the user to enable/disable secure bindings.  
  For an example form field, see the
  [example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/blob/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f/metadata_parts/handcraft.yml#L39-L46).
  <br><br>
  1. Add an element in `property_blueprints` that reads the setting in the form
  field and exposes the appropriate manifest snippet for CredHub and secure binding.  
  For an example `property_blueprints` section, see the
  [example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/blob/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f/metadata_parts/handcraft.yml#L606-L632).
  <br><br>
  1. Change the broker job so that it consumes the CredHub BOSH link from the
  `property_blueprints` section.  
  For an example broker job, see the
  [example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/blob/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f/metadata_parts/handcraft.yml#L96).
  <br><br>
  1. Change the broker job so that it consumes the generated secure bindings
  manifest snippet.  
  For an example broker job, see the
  [example-kafka-on-demand-tile](https://github.com/pivotal-cf-experimental/example-kafka-on-demand-tile/blob/e206e04a1eb80a5f53a5edd9a1f11e096bea5f4f/metadata_parts/handcraft.yml#L112).

