---
title: Troubleshooting Errors
owner: London Services Enablement
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
    }
</style>

Start here if you're responding to a specific errors or error messages.

## <a id="install-fail"></a>Failed Install

1. Certificate issues: The on-demand broker (ODB) requires valid certificates. Ensure that your certificates are valid and [generate new ones](http://docs.pivotal.io/p-mysql/credential-rotation.html) if necessary. 
1. Deploy fails: Deploys can fail for a variety of reasons. View the logs using Ops Manager to determine why the deploy is failing.
1. [Networking problems](#network): 
    - Cloud Foundry cannot reach the service broker
    - Cloud Foundry cannot reach the service instances
    - The service network cannot access the BOSH director 
1. [Register broker errand](#register-broker) fails.
1. The smoke test errand fails.
1. Resource sizing issues: These occur when the resource sizes selected for a given plan are less than the service requires to function. Check your resource configuration in Ops Manager and ensure that the configuration matches that recommended by the service.
1. Other service-specific issues.

## <a id="cannot-create-delete"></a>Cannot Create or Delete Service Instances

If developers report errors such as the following:

<pre class="terminal">
Instance provisioning failed: There was a problem completing your request. Please contact your operations team providing the following information: service: redis-acceptance, service-instance-guid: ae9e232c-0bd5-4684-af27-1b08b0c70089, broker-request-id: 63da3a35-24aa-4183-aec6-db8294506bac, task-id: 442, operation: create
</pre>

[Log in to BOSH](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#prepare) and target the service instance using the instructions on [parsing a Cloud Foundry error message](#parse-error).

Retrieve the BOSH task ID from the error message and run
`bosh task TASK-ID`.

If the BOSH error shows a problem with the deployment manifest:

  1. Download the manifest for the service instance by running `bosh download manifest SERVICE-INSTANCE-GUID MY-SERVICE.yml`.
  1. Check the manifest for configuration errors.

[Access the broker logs](#access-broker)  and use the `broker-request-id` from the error message above to search the log for more information.

Check for:

  - [Authentication errors](#auth)

  - [Network errors](#network)

  - [Quota errors](#quotas) 

## <a id="timeouts"></a> Broker Request Timeouts

If developers report errors such as:

<pre class="terminal">
Server error, status code: 504, error code: 10001, message: The request to the service broker timed out: https://BROKER-URL/v2/service_instances/e34046d3-2379-40d0-a318-d54fc7a5b13f/service_bindings/aa635a3b-ef6d-41c3-a23f-55752f3f651b
</pre>

1. Validate that Cloud Foundry (CF) has [network connectivity to the service broker](#network). 
1. Check the BOSH queue size:
    - Log into BOSH as the admin user
    - Run `bosh tasks`
1. If there are a large number of queued tasks then the system may be under load. BOSH is configured with two workers and one status worker. Advise app developers to try again later once the system is under less load.

In the future, Ops Manager will support configuring the number of BOSH workers available to the system.

## <a id="cannot-bind"></a>Cannot Bind to or Unbind from Service Instances

### <a id="instance-not-exist"></a>Instance Does Not Exist

If developers report errors such as:

<pre class="terminal">
Server error, status code: 502, error code: 10001, message: Service broker error: instance does not exist`
</pre>

1. Run `cf service MY-INSTANCE --guid` to check that the service instance exists in BOSH and CF.

1. Pre-pend the text `service_instance-` to the GUID you just obtained to create the ID that BOSH uses for your service instance (e.g. if your GUID is `1Hy6H`, this becomes `service_instance-1Hy6H`).

1. Run `bosh vms INSTANCE-GUID` with the service instance ID from the last step.

If the bosh deployment is not found then it has been deleted from BOSH. Contact Pivotal support for further assistance on recovery.

### <a id="other-errors"></a>Other errors

If developers report errors such as:

<pre class="terminal">
Server error, status code: 502, error code: 10001, message: Service broker error: There was a problem completing your request. Please contact your operations team providing the following information: service: example-service, service-instance-guid: 8d69de6c-88c6-4283-b8bc-1c46103714e2, broker-request-id: 15f4f87e-200a-4b1a-b76c-1c4b6597c2e1, operation: bind
</pre>

To find out the exact issue with the binding process:

1. [Access the service broker logs](#access-broker).

1. Search the logs for the `broker-request-id` string listed in the error message above. 

1. Contact Pivotal support for further assistance if you are unable to resolve the problem.

1. Check for:
  - [Authentication errors](#auth)
  - [Network errors](#network)

## <a id="cannot-connect"></a>Cannot Connect to a Service Instance

If developers report that their app cannot use service instances that they have successfully created and bound:

Ask the user to send application logs that show the connection error. If the error is originating from the service, then follow service-specific instructions. If the issue appears to be network-related, then:

1. Check that [application security groups](https://docs.pivotal.io/pivotalcf/adminguide/app-sec-groups.html) are configured correctly.
Access should be configured for the service network that the tile is deployed to.

1. Ensure that the network the PCF Elastic Runtime tile is deployed to has network access to the service network. You can find the network definition for this service network in the Ops Manager Director tile.

1. In Ops Manager go into the service tile and see the service network that is configured in the networks tab.

1. In Ops Manager go into the ERT tile and see the network it is assigned to.
Make sure that these networks can access each other.

## <a id="upgrade-all-fails"></a>Upgrade All Instances Fails

If the [`upgrade-all-service-instances`](#upgrade-all) errand fails, look at the errand output in the Ops Manager log.

If an instance fails to upgrade, debug and fix it before running the errand again to prevent any failure issues from spreading to other on-demand instances.

Once the Ops Manager log no longer lists the deployment as `failing`, [re-run the errand](#upgrade-all) to upgrade the rest of the instances. 

## <a id="upgrade-all-too-long"></a>Upgrade All Instances Takes a Long Time

1. Depending on your IaaS and the number of service instances, the [`upgrade-all-service-instances`](#upgrade-all) task takes 15-20 minutes per instance if you changed IaaS resources and 5-10 minutes per instance if you reconfigured BOSH releases.
1. To calculate how long the errand should take, multiply the number of instances by 20 minutes. 
1. If the errand goes on for much longer than this, you may want to:
   - `ssh` onto the errand VM
   - `cd /var/vcap/sys/log` and look for the errand output log
   - `tail -f LOG` and see if the errand is still attempting to upgrade instances. If it is, then allow the errand to continue. If it appears to be stuck:
    - `bosh tasks` and identify the errand task
    - `bosh cancel task TASK-ID`
1. Retry [running the errand](#upgrade-all).

## <a id="missing-logs"></a>Missing Logs and Metrics

If no logs are being emitted by the on-demand broker, check that your syslog forwarding address is correct in Ops Manager.

1. Ensure you have configured syslog for the tile.
1. Ensure that you have network connectivity between the networks that the tile is using and the syslog destination. If the destination is external, you need to use the [public ip](https://docs.pivotal.io/svc-sdk/odb/0-14/tile.html#public-ip) VM extension feature available in your Ops Manager tile configuration settings.
1. Verify that the Firehose is emitting metrics:
    1. Install the [`cf nozzle` plugin](https://github.com/cloudfoundry/firehose-plugin)
    1. Run `cf nozzle -f ValueMetric | 
    grep --line-buffered "on-demand-broker/MY-SERVICE"` to find logs from your service in the `cf nozzle` output. 
</pre>

If no metrics appear within five minutes, verify that the broker network has access to the Loggregator system on all required ports.

[Contact Pivotal support](#support) if you are unable to resolve the issue. 

## <a id="support"></a>File a Support Ticket

You can file a support ticket [here](https://support.pivotal.io/). Please be sure to provide the [error message](./tshooting-techniques.html#parse-error) from 
<pre class="terminal">
$ cf service my-service
</pre>

Please also provide your [service broker logs](./tshooting-techniques.html#access-broker), your [service instance logs](./tshooting-techniques.html#access-instance) and [BOSH task output](./tshooting-techniques.html#parse-error), if a `task-id` is provided as part of the `cf service <your-service>` output, to help expedite troubleshooting.

## <a id="kb"></a>Knowledge Base (Community)

Imagine a world where we autopopulate the first 10 hits from http://discuss.pivotal.io . For now, you'll just have to click on the link.
